## Задание 1

In [ ]:
z = input()
if len(z) % 2 != 0:
    print(z[len(z) // 2])
else:
    print(z[len(z) // 2-1]+z[len(z) // 2])

## Задание 2

In [ ]:
summ = 0
while True:
    num = int(input('Введите число: '))
    if num == 0:
        break
    summ += num
print(summ)

## Задание 3

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

boys.sort()
girls.sort()

if len(boys) == len(girls):
    print('Идеальные пары: ')
    for boy,girl in zip(boys,girls):
        print(f'{boy} и {girl}')
else:
    print('Внимание, кто-то может остаться без пары!')

## Задание 4

In [124]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for country,temperature in countries_temperature:
    temp_C = round((5/9)*(sum(temperature)/len(temperature)-32),1)
    print(f'{country} - {temp_C}')

#C=(5/9)*(F-32)

Thailand - 23.9
Germany - 13.8
Russia - 3.7
Poland - 12.0

## Задание 5

In [142]:
# stream = [
#     '2018-01-01,user1,3',
#     '2018-01-07,user1,4',
#     '2018-03-29,user1,1',
#     '2018-04-04,user1,13',
#     '2018-01-05,user2,7',
#     '2018-06-14,user3,4',
#     '2018-07-02,user3,10',
#     '2018-03-21,user4,19',
#     '2018-03-22,user4,4',
#     '2018-04-22,user4,8',
#     '2018-05-03,user4,9',
#     '2018-05-11,user4,11',
# ]
stream = [
    '2018-01-01,user100,150',
    '2018-01-07,user99,205',
    '2018-03-29,user1001,81'
]
users = []
views = []
for row in stream:
    first, *other = row.split(',')
    if other[0] not in users:
        users.append(other[0])
    views.append(int(other[1]))
print('Среднее количество просмотров на уникального пользователя:', round(sum(views)/len(users),2))

Среднее количество просмотров на уникального пользователя: 145.33

## Задание 6

In [119]:
res = []
num = input()
query = num.split()
for el in query:
    if query.count(el) > 1 and el not in res:
        res.append(el) 
print(' '.join(res))

23 4 4 87 9 9 9
4 9